<header class="header">
    <div class="header-title">My Budgets</div>
    <button mat-button class="menu-button" (click)="createBudget()">
        Add <mat-icon>add</mat-icon>
    </button>
</header>
<hr/>
<header class="header">
    <mat-form-field>
        <input 
            matInput 
            [matDatepicker]="transactionDatePicker" 
            [formControl]="transactionDatePickerControl" 
            [min]="transactionDate" 
            readonly
            (dateChange)="onTransactionDateChange($event)">
        <mat-datepicker #transactionDatePicker></mat-datepicker>
        <mat-datepicker-toggle matIconSuffix [for]="transactionDatePicker"></mat-datepicker-toggle>
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="resetBudgets()" *ngIf="transactionDateHasChanged" style="margin-left: 5px;">
        Reset
    </button>
</header>
<div class="card-grid">
    <mat-card *ngFor="let budget of budgets; let i = index" class="card">
        <div class="main">
            <h4>{{ budget.name }}</h4>
            &nbsp; - &nbsp;
            <p><i>{{ budget.description }}</i></p>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editBudget(budget)">Edit</button>
                <button mat-menu-item (click)="manageTransactions(budget)">Manage Transactions</button>
                <button mat-menu-item (click)="duplicateBudget(budget)">Duplicate</button>
                <button mat-menu-item style="color:red" (click)="deleteBudget(budget)">Delete</button>
              </mat-menu>
        </div>
        <label>{{budget.balance | currency:'USD':'symbol':'1.2-2' }}</label>
        <mat-expansion-panel (opened)="togglePanelState(i)" (closed)="togglePanelState(i)">
            <mat-expansion-panel-header>
            <mat-panel-title> Transactions </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li *ngFor="let tran of budgets[i].transactions">
                    <strong>{{ tran.name }}</strong>
                    &nbsp;
                    <span *ngIf="tran.type === 'Income'">{{ tran.amount | currency:'USD':'symbol':'1.2-2' }}</span> 
                    <span *ngIf="tran.type === 'Expense'" style="color: red">({{ tran.amount | currency:'USD':'symbol':'1.2-2' }})</span> 
                    {{ tran | recurringText }}
                </li>
            </ul>
        </mat-expansion-panel>
    </mat-card>
</div>