.main {
    display: flex;
    align-items: center; /* Vertical align the elements to the center */
  }
  
  h1 {
    margin: 0;
  }

/* grid.component.css */
.card-grid {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap when there is not enough space */
    gap: 16px; /* Add space between cards */
    justify-content: center; /* Center the cards in the container */
  }
  
  .card {
    width: 100%; /* Default to full width on small screens */
    padding-left: 5px;
  }
  
  @media (min-width: 600px) {
    .card {
      width: calc(100% - 8px); /* 1 card per row on medium screens */
    }
  }
  
  @media (min-width: 960px) {
    .card {
      width: calc(75% - 8px); /* 2 cards per row on larger screens */
    }
  }
  
  @media (min-width: 1200px) {
    .card {
      width: calc(50% - 10px); /* 3 cards per row on very large screens */
    }
  }
  .mat-mdc-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
  }

  .header {
    display: flex;          /* Use flexbox for alignment */
    justify-content: center; /* Center the title */
    align-items: center;    /* Vertically align items */
    position: relative;     /* Allows absolute positioning for the button */
    height: fit-content;           /* Adjust height as needed */
    padding: 0 16px;        /* Add padding for spacing */
  }
  
  .header-title {
    font-size: 25px;
    font-weight: bold;
  }
  
  .menu-button {
    position: absolute;     /* Position the button absolutely */
    right: 16px;            /* Align it to the right */
    top: 50%;               /* Center it vertically */
    transform: translateY(-50%);
    background: none;       /* Style your button as needed */
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto; /* Push this element to the right */
  }