.scrollable-content {
    flex: 1; /* Takes up the bottom half of the dialog */
    overflow-y: auto; /* Enables vertical scrolling */
    max-height: 50%; /* Ensures it takes up at most half of the dialog */
    padding: 8px;
  }
    
  
  mat-form-field {
    padding-right: 5px;
  }

  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding-top: 16px; /* Optional to give space from the content */
  }
  
  mat-dialog-actions button {
    margin-left: 8px; /* Optional to space out buttons */
  }